.pyc
__pycache__/
/.project
/.pydevproject
/.settings
/build/
/contrib/expire_backups.1
/contrib/pcp.1
/dist/
/doc/
/rst/autogen/
/s3ql.old/
/src/s3ql.egg-info/
/src/s3ql/deltadump.*.so
/src/s3ql/deltadump.c
/tests/.cache/
/tests/test.log
/tests/test_crit.log
