__pycache__/
.pytest_cache/
/build/
/contrib/expire_backups.1
/contrib/pcp.1
/dist/
/doc/
/rst/autogen/
/s3ql.old/
/src/s3ql.egg-info/
/src/s3ql/*.so
/src/s3ql/sqlite3ext.cpp
/tests/.cache/
/tests/test.log
/tests/test_crit.log
/.vscode/launch.json
/.venv/
