graft doc
graft rst
graft contrib
graft tests
graft util
graft bin
recursive-include src *.py *.c *.pyx *.h *.cpp
include Changes.txt
include README.rst
include LICENSE
exclude WARNING
exclude MANIFEST.in
exclude signify/*.sec
include signify/*.pub
prune tests/.cache
prune tests/.pytest_cache
prune doc/doctrees
prune doc/man/.doctrees
prune doc/html/.doctrees
global-exclude *.pyc
global-exclude *.pyo
global-exclude *.log
