graft doc/html
graft doc/txt
graft doc/latex
graft contrib
graft tests
graft debian
graft bin
include src/*.py
include Changes.txt
include INSTALL.txt
include README.txt
include doc/manual.pdf
exclude MANIFEST.in
