graft doc
graft rst
graft contrib
graft tests
graft debian
graft util
graft bin
include src/*.py
include Changes.txt
include INSTALL.txt
include README.txt
include LICENSE
exclude MANIFEST.in
prune doc/doctrees
prune doc/man/.doctrees
prune debian/s3ql
global-exclude *.pyc
