#!/usr/bin/make -f
# -*- makefile -*-

#export DH_VERBOSE=1

%:
	dh $@

override_dh_installchangelogs:
	dh_installchangelogs Changes.txt

override_dh_compress:
	dh_compress -X.txt -X.js -X.py

override_dh_auto_build:
	dh_auto_build

        # Generate the docs from the doc sources
	[ -e doc/html ] || python setup.py build_sphinx
	[ ! -e doc/doctrees ] || rm -rf doc/doctrees
	[ ! -e doc/html/.buildinfo ] || rm -rf doc/html/.buildinfo

override_dh_install:
	# Fakeroot breaks testing
	#python setup.py test
	dh_install
	cp contrib/expire_backups.py debian/s3ql/usr/bin/expire_backups
	cp contrib/pcp.py debian/s3ql/usr/bin/pcp

override_dh_installdocs:
	dh_installdocs
	rm debian/s3ql/usr/share/doc/s3ql/contrib/expire_backups.py \
	   debian/s3ql/usr/share/doc/s3ql/contrib/pcp.py
	ln -sf txt/about.txt debian/s3ql/usr/share/doc/s3ql/README.txt

override_dh_fixperms:
	dh_fixperms
	chmod +x debian/s3ql/usr/share/doc/s3ql/contrib/*.py \
	         debian/s3ql/usr/share/doc/s3ql/contrib/*.sh

override_dh_auto_clean:
	dh_auto_clean
	rm -rf dist
	rm -rf doc/doctrees
	rm -rf setup.log
