# yaml-language-server: $schema=https://json.schemastore.org/github-workflow

name: 'Build & Test'
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
concurrency:
  group: '${{ github.workflow }}-${{ github.ref }}'
  cancel-in-progress: true
jobs:
  build:
    runs-on: '${{ matrix.os }}'
    strategy:
      matrix:
        os:
          #- ubuntu-20.04
          - ubuntu-latest
        python_version:
          - '3.8'
          - '3.9'
          - '3.10'
          - '3.11'
          - '3.12'
        deps:
          #- dist
          - latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo -- apt-get update
      - uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python_version }}
      - run: tests/ci-prepare-${{ matrix.deps }}.sh
      - run: |
          python -c 'help("modules")'
      - run: python setup.py build_cython
      - run: python setup.py build_ext --inplace
      - run: python -m pytest -r s tests/
      - run: ./build_docs.sh
  check-style:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - run: sudo -- python3 -m pip install "black == 23.3.0"
      - run: black --line-length=100 --skip-string-normalization --check --diff --color --required-version 23.3.0 .
